<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329270570788-6hgf5nd7qbi7i8kcuraq8hrs05s14u4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329270570788-6hgf5nd7qbi7i8kcuraq8hrs05s14u4b</string>
	<key>API_KEY</key>
	<string>AIzaSyD68VxmMkwKBwnvn7aq0C1KvrfHQrKgADI</string>
	<key>GCM_SENDER_ID</key>
	<string>329270570788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitskraft.notelify</string>
	<key>PROJECT_ID</key>
	<string>notelify-6a82c</string>
	<key>STORAGE_BUCKET</key>
	<string>notelify-6a82c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329270570788:ios:9c0801632d10091fd2cdb1</string>
</dict>
</plist>